<mat-toolbar class="toolbar" color="primary">
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item [routerLink]="['']">Home</button>
    <button mat-menu-item [routerLink]="['ancestries']">Ancestries</button>
  </mat-menu>

  <h2>Pathfinder 2E For Friends</h2>

  <button mat-fab color="warn" aria-label="Go Home" [routerLink]="['']">
    <mat-icon>home</mat-icon>
  </button>
</mat-toolbar>
