table {
  width: 100%;
}

tr.ancestry-detail-row {
  height: 0;
}

tr.ancestry-row:not(.ancestry-expanded-row):hover {
  background: whitesmoke;
  cursor: pointer;
}

tr.ancestry-row:not(.ancestry-expanded-row):active {
  background: #efefef;
}

.ancestry-row td {
  border-bottom-width: 0;

  &:hover {
    cursor: pointer;
  }
}

.ancestry-detail {
  overflow: hidden;
  display: flex;
}

.ancestry-description {
  padding: 1rem;
}

.view-more {
  min-width: auto;
  margin-bottom: 1rem;
}

.a[mat-raised-button] {
}
